#feedback_list {
    display: flex;
    flex-direction: column;
}

#feedback_add {
    margin: 1em 0;
}

#feedback_form {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

#feedback_field {    
    resize:both;
    max-height: 100vh;
    max-width: 60vw;
}

#submitted {
    color: var(--colored_greyed);
}

.list {
    display: flex;
    flex-direction: column;
}

.feedback {
    margin: .1em 0;
    overflow-wrap: break-word;
}

.entry {
    display: flex;
    flex-direction: column;
    margin: .3em 0;
}

.author {
    color: var(--colored_greyed);
    font-style: italic;
}

.paragraph {
    font-style: normal;
}